############################################################################
#  The OUnit library                                                       #
#                                                                          #
#  Copyright (C) 2002-2008 Maas-Maarten Zeeman.                            #
#  Copyright (C) 2010 OCamlCore SARL                                       #
#  Copyright (C) 2013 Sylvain Le Gall                                      #
#                                                                          #
#  The package OUnit is copyright by Maas-Maarten Zeeman, OCamlCore SARL   #
#  and Sylvain Le Gall.                                                    #
#                                                                          #
#  Permission is hereby granted, free of charge, to any person obtaining   #
#  a copy of this document and the OUnit software ("the Software"), to     #
#  deal in the Software without restriction, including without limitation  #
#  the rights to use, copy, modify, merge, publish, distribute,            #
#  sublicense, and/or sell copies of the Software, and to permit persons   #
#  to whom the Software is furnished to do so, subject to the following    #
#  conditions:                                                             #
#                                                                          #
#  The above copyright notice and this permission notice shall be          #
#  included in all copies or substantial portions of the Software.         #
#                                                                          #
#  The Software is provided ``as is'', without warranty of any kind,       #
#  express or implied, including but not limited to the warranties of      #
#  merchantability, fitness for a particular purpose and noninfringement.  #
#  In no event shall Maas-Maarten Zeeman be liable for any claim, damages  #
#  or other liability, whether in an action of contract, tort or           #
#  otherwise, arising from, out of or in connection with the Software or   #
#  the use or other dealings in the software.                              #
#                                                                          #
#  See LICENSE.txt for details.                                            #
############################################################################

| "setup.ml"             -> no
| "myocamlbuild.ml"      -> no
| ".*\\.txt"             -> no
| ".*\\.txt-exp"         -> no
| ".*\\.html"            -> no
| ".*\\.patch"           -> no
| ".*\\.mkd"             -> no
| ".*\\.mod"             -> no
| ".*\\.mlify"           -> no
| "configure"            -> no
| ".*\\.sh"              -> skip match:"#!.*"
| ".*\\.sh"              -> frame open:"#" line:"#" close:"#"
| ".*\\.ml\\.ab"         -> frame open:"(*" line:"*" close:"*)" margin:" "
| ".*\\.mli?"            -> skip match:"(\\*pp .* \\*)"
| ".*\\.mli?"            -> frame open:"(*" line:"*" close:"*)" margin:" "
| "_headache\\.config"   -> frame open:"#" line:"#" close:"#"
| "META"                 -> frame open:"#" line:"#" close:"#"
| ".*\\.js"              -> frame open:"/*" line:"*" close:"*/" margin:" "
| ".*\\.css"             -> frame open:"/*" line:"*" close:"*/" margin:" "
| "_announce"            -> no
| "_oasis"               -> no
| "JUnit.xsd"            -> no
| "changelog"            -> no
| "_header"              -> no
| ".*\\.swp"             -> no
| ".*\\.po"              -> no
| ".*\\.po.bak"          -> no
| ".*\\.mo"              -> no
| "POTFILES"             -> no
| "LINGUAS"              -> no
| ".*\\.pot"             -> no
| ".*\\.png"             -> no
| ".*\\.mllib"           -> no
| ".*\\.itarget"         -> no
| ".*\\.itarget.in"      -> no
| ".*\\.odocl"           -> no
| "_tags"                -> no
| "\\.boring"            -> no
| ".*\\.pdf"             -> no
| "setup\\.log"          -> no
| "setup\\.data"         -> no
| ".*\\.data"            -> no
| ".*\\.tar\\.gz"        -> no
| ".*\\.tar\\.gz\\.asc"  -> no
| "\\.gitignore"         -> no
| ".*\\.lua"             -> no
