
h1 {
  font-size: 20px;
  margin-right: 15px;
  padding-left: 5px;
}

#ounit-current h1 {
  text-decoration: underline;
}

.ounit-results-content div {
  width: 150px;
  margin-top: 1px;
}

.ounit-results-content .number {
  text-align: right;
  display: inline-block;
  float: right;
  width: 50px;
}

.ounit-results-verdict.ounit-failure {
  color: red;
}

.ounit-success h1,
.ounit-results-successes .number {
  background-color: #4a4;
}

.ounit-failure h1,
.ounit-results-failures .number {
  background-color: #f66;
}

.ounit-error h1,
.ounit-results-errors .number {
  background-color: #000;
  color: #fff;
}

.ounit-skip h1,
.ounit-results-skips .number {
  background-color: #fd0;
}

.ounit-todo h1,
.ounit-results-todos .number {
  background-color: #aaf;
}

.ounit-conf h1,
.ounit-results h1 {
  background-color: #aaa;
}

.ounit-log,
.ounit-conf-content {
  font-family: Lucida Console, Monaco, Courier New, monospace;
  white-space: nowrap;
  font-size: 16px;
  color: #666;
  margin-left: 20px;
}

.ounit-duration,
.ounit-results-content {
  margin-bottom: 10px;
  margin-left: 15px;
}

span.ounit-timestamp {
  display: inline-block;
  width: 70px;
}

.ounit-log .ounit-result,
.ounit-results-verdict {
  font-weight: bold;
  margin-top: 5px;
}

#navigation {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  padding: 9px;
  border: 1px solid #000;
  border-top: none;
  border-right: none;
};
